@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="text-center">
    <h1 class="display-3">Раді вас вітати!</h1>
    <p>До <a href="@Url.Action("Index", "FilmCategories")">категорій фільмів</a></p>
    <p>До <a href="@Url.Action("Index", "Companies")">виробників фільмів</a></p>
    <p>До <a href="@Url.Action("Index", "Halltypes")">типи залів</a></p>
    <p>До <a href="@Url.Action("Index", "Films")">фільми</a></p>
    <p>До <a href="@Url.Action("Index", "Halls")">зали</a></p>
    <p>До <a href="@Url.Action("Index", "Seats")">місця</a></p>
    <p>До <a href="@Url.Action("Index", "Sessions")">сеанси</a></p>
    <p>До <a href="@Url.Action("Index", "Viewers")">глядачі</a></p>
    <p>До <a href="@Url.Action("Index", "FilmRatings")">оцінки</a></p>
    <p>До <a href="@Url.Action("Index", "Bookings")">бронювання</a></p>
</div>
