@model CinemaDomain.Model.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Детально</h1>

<div>
    <h4>бронювання</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seat.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Session.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Viewer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Viewer.Name)
        </dd>
    </dl>
</div>
@Html.ActionLink("Edit", "Edit", new
    {
        viewerId = Model.ViewerId,
        sessionId = Model.SessionId,
        seatId = Model.SeatId
    }) |
@Html.ActionLink("Details", "Details", new
    {
        viewerId = Model.ViewerId,
        sessionId = Model.SessionId,
        seatId = Model.SeatId
    }) |
@Html.ActionLink("Delete", "Delete", new
    {
        viewerId = Model.ViewerId,
        sessionId = Model.SessionId,
        seatId = Model.SeatId
    })

