@model IEnumerable<CinemaDomain.Model.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Бронювання</h1>

<p>
    <a asp-action="Create">Створити нове</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Фільм</th>
            <th>Час сеансу</th>
            <th>Ряд</th>
            <th>Місце</th>
            <th>Глядач</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Session.Film.Name)</td>
                <td>@item.Session.SessionTime.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@Html.DisplayFor(modelItem => item.Seat.Row)</td>
                <td>@Html.DisplayFor(modelItem => item.Seat.NumberInRow)</td>
                <td>@Html.DisplayFor(modelItem => item.Viewer.Name)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new
                        {
                            viewerId = item.ViewerId,
                            sessionId = item.SessionId,
                            seatId = item.SeatId
                        }) |
                    @Html.ActionLink("Details", "Details", new
                        {
                            viewerId = item.ViewerId,
                            sessionId = item.SessionId,
                            seatId = item.SeatId
                        }) |
                    @Html.ActionLink("Delete", "Delete", new
                        {
                            viewerId = item.ViewerId,
                            sessionId = item.SessionId,
                            seatId = item.SeatId
                        })
                </td>
            </tr>
        }
    </tbody>
</table>
